@font-face {
  font-family: "Bukhari";
  src: url("/resources/fonts/Bukhari Script.ttf");
}
@font-face {
  font-family: "DREAMERS BRUSH";
  src: url("/resources/fonts/DREAMERS BRUSH.ttf");
}
body {
  margin-top: 0;
}
footer {
  align-self: center;
  text-align: center;
  color: #fff;
  text-shadow: #fff 0 0 10px;
}
.container {
  padding: 0;
}
.container-fluid {
  padding: 0;
}
#home {
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
}
.footer {
  background-color: rgba(0, 0, 0, 0.45);
  margin-top: 85vh;
  font-weight: 200;
  color: white;
}
.navbar-expand-md {
  justify-content: center;
}
.navbar-brand {
  margin-right: 3rem;
  margin-left: 2rem;
}
.nav-link {
  font-weight: 600;
}
#maingate {
  height: 87.5vh;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 220px 220px 0px;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}
.btn {
  text-shadow: none;
  background-color: rgba(28,29,29,0.45);
  border-color: black;
  border-width: 2px;
}
.btn:hover {
  border-width: 2px;
  border-color: black;
  background-color: rgba(0,0,0,0.65);
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 1000;
  letter-spacing: 8px;
}
#topbar {
  background-color: #000;
  padding: 0.5rem 1.5rem;
}
#topbar a {
  color: #fff;
}
.fab {
  padding: 0 0.25rem;
}
#hometop {
  height: 300px;
  width: 100%;
  background-image: url(../images/hometop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 1rem;
}
#hometop a {
  text-shadow:
    0 0 4px #fff,
    0 0 13px #fff,
    0 0 20px #228DFF,
    0 0 35px #228DFF,
    0 0 40px #228DFF,
    0 0 55px #228DFF;
}
.nav-link:hover {
  color: #fff;
}
#kmarchel {
  font-family: 'Ubuntu', sans-serif;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 15px #fff,
    0 0 20px #228DFF,
    0 0 35px #228DFF,
    0 0 40px #228DFF,
    0 0 50px #228DFF,
    0 0 75px #228DFF;
}
#kmarchel:hover {
  color: #fff;
}
.navbar-toggler {
  border: 1px solid #228DFF;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 15px #fff,
    0 0 20px #228DFF,
    0 0 35px #228DFF,
    0 0 40px #228DFF,
    0 0 50px #228DFF,
    0 0 75px #228DFF;
  color: #fff;
}
.card-body {
  box-shadow: 2px 3px 4px 0px rgba(50, 50, 50, 0.75);
  margin-top: 1rem;
}
.card-img-top {
  padding: 0.5rem;
  display: block;
  width: 140px;
  text-align: center;
  align-self: center;
}
.card-img {
  padding: 0.5rem;
  display: block;
  width: 286px;
  text-align: center;
  align-self: center;
}
.dark {
  background-color: #ddd;
}
.btn-success {
  border: 1px solid black;
}
.btn-success:hover {
  border: 1px solid black;
}
.flip {
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.bg-rust {
  background: url(https://img00.deviantart.net/c2c3/i/2008/150/9/b/texture_149_by_deadcalm_stock.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.header-rust {
  color: #000;
  padding-top: 15%;
  text-align: center;
}
.header-rust > h1{
  padding-top: 25px;
  font-family: "Bukhari";
  font-weight: bolder;
  color: #fff;
  text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
}
.h4-rusty{
  color: #fff;
  font-family: "DREAMERS BRUSH";
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}
.list-group-item-rust {
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 2px 15px;
  list-style: none;
  display: inline-block;
  margin-bottom: 3px;
  font-weight: bold;
}
#container {
  max-width: 700px;
}
