<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href=""><img src="./img/image_template.png" alt="logo" class="logo"></a>
            <nav>
                <a href="#" class="hide-desktop">
                        <i class="fas fa-angle-double-right menu" id="menu"></i></a>
                <ul  class="hide-mobile show-desktop" id="nav">
                    <li class="hide-desktop"><a href="#" id="exit-btn">Close<i class="fas fa-angle-double-right" id="x"></i></a></li>
                    <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                    <li><a href="#">link</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <figure><img src="./img/image_template.png" alt="illustration" id="illustration"></figure>
            <h1>Header Title Here</h1>
            <h3>Subheader title here</h3>
            <a href="#section"><i class="fas fa-angle-double-down hide-mobile show-desktop scroll"></i></a>
        </section>
    </div>
    <div class="gray-container">
        <div class="container">
            <section id="section">
                <ul>
                    <li><img href="./img/image_template.png">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim corporis voluptatum molestiae,
                            hic consequuntur nam. Magni perspiciatis doloremque ut et? Odio quis voluptas eius sit
                            doloribus quidem aliquam! Nulla, nihil?</p>
                    </li>
                    <li><img href="./img/image_template.png">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim corporis voluptatum molestiae,
                            hic consequuntur nam. Magni perspiciatis doloremque ut et? Odio quis voluptas eius sit
                            doloribus quidem aliquam! Nulla, nihil?</p>
                    </li>
                    <li><img href="./img/image_template.png">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim corporis voluptatum molestiae,
                            hic consequuntur nam. Magni perspiciatis doloremque ut et? Odio quis voluptas eius sit
                            doloribus quidem aliquam! Nulla, nihil?</p>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda nemo, labore vero non at obcaecati eos
            animi ut error atque soluta incidunt id natus nesciunt molestias consequuntur dicta, a tenetur.</p>
    </div>
    <div class="gray-container">
        <div class="container">
            <section>
                <ul>
                    <li>
                        <figure><img src="./img/image_template.png" alt="user image" class="user-image"></figure>
                        <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit debitis animi totam
                            nam ut, alias dolore eum blanditiis deserunt, voluptates odit, similique cumque vitae. Modi
                            soluta voluptas error labore ipsa?</blockquote>
                        <figcaption>- lorem ipsum</figcaption>
                    </li>
                    <li>
                        <figure><img src="./img/image_template.png" alt="user image" class="user-image"></figure>
                        <blockquote>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit debitis animi totam
                            nam ut, alias dolore eum blanditiis deserunt, voluptates odit, similique cumque vitae. Modi
                            soluta voluptas error labore ipsa?</blockquote>
                        <figcaption>- lorem ipsum</figcaption>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <section>
        <div class="container" id="cta-container">
            <h2>lorem ipsum lorem</h2>
            <a href="#" class="cta">lorem!</a>
        </div>
    </section>
    <footer>
        <div class="container footer">
            <div class="footer-container">
                <a href="#"><img src="./img/image_template.png" alt="logo" class="logo"></a>
                <p>adress: lorem ipsum</br>
                    lorem ipsum</br>
                    lorem ipsum</br>
                    lorem ipsum</br>
                    lorem ipsum</p>
                <ul class="footer-link">
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                    <li><a href="">lorem ipsum</a></li>
                </ul>
                <small class="credits">Designed by KM @ 2019</small>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="./js/scripts.js"></script>
</body>

</html>