<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- FA icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- own styles -->
    <link rel="stylesheet" href="./src/css/style.css">
    <title>WOK 1 Oriental Cuisine at its Very Best - Buffets - Take Away - A La Carte - Teypanyaki - Celebrations -
        Parties</title>
</head>

<body>
    <div class="container bg-light">
        <!-- header -->
        <div class="row justify-content-center" id="border-top">
            <!-- navbar -->
            <div class="col-12 text-center">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand px-1 mx-4" href="#" id="brand">WOK-1</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-arrow-alt-circle-down"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item" id="border-right-gray">
                                <a class="nav-link" href="#"><i class="fas fa-home"></i>Home</a>
                            </li>
                            <li class="nav-item" id="border-right-gray">
                                <a class="nav-link" href="#"><i class="fas fa-drumstick-bite"></i>Buffet</a>
                            </li>
                            <li class="nav-item" id="border-right-gray">
                                <a class="nav-link" href="#"><i class="fas fa-hamburger"></i>Take Away</a>
                            </li>
                            <li class="nav-item" id="border-right-gray">
                                <a class="nav-link" href="#"><i class="fas fa-cocktail"></i>Lounge bar</a>
                            </li>
                            <li class="nav-item" id="border-right-gray">
                                <a class="nav-link" href="#"><i class="fas fa-images"></i>Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-mail-bulk"></i>Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <!-- address -->
            <div class="col-sm-9 d-none d-sm-block">
                <div class="card">
                    <div class="card-body bg-map">
                        <div class="bg-phone">
                            <div class="bg-blur">
                                <div class="row justify-content-center">
                                    <div class="col-md-4"><span class="orange"><i class="fas fa-map-marked-alt"></i>Location:</span><br>81-83
                                        Chester
                                        Road West,<br> Shotton CH5 1BZ</div>
                                    <div class="col-md-4 offset-md-1"><span class="orange"><i class="fas fa-phone-square"></i>Reservations:</span><br>01244
                                        XXXXXX</div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- content-->
        <div class="row justify-content-center py-1">
            <div class="col-md-9">
                <div class="bd-example">
                    <!-- carrousel -->
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="4000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./src/img/carrousel/01.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="./src/img/carrousel/02.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="./src/img/carrousel/03.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="./src/img/carrousel/04.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="./src/img/carrousel/05.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- big card -->
        <div class="row justify-content-center py-1">
            <div class="col-md-9">
                <div class="card">
                    <h5 class="card-header">Wok-1 follows in the footsteps of The Chef’s Wok and offers affordable
                        Oriental dining in an informal atmosphere. We will delight regulars and welcome newcomers.</h5>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Visit our stylish and elegant restaurant and spend an evening enjoying
                            fine food. Diners at our restaurant are able to enjoy a drink or two in our lounge bar
                            before dinner. The restaurant is arranged on two levels and seats 100 people with various
                            able sizes to accommodate large and small parties.</p>
                        <div class="text-center"><a href="#" class="btn btn-secondary">See the Gallery</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- small cards -->
        <div class="row justify-content-center py-2">
            <div class="col-md-9">
                <div class="card-group">
                    <div class="card">
                        <img src="./src/img/cards/01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./src/img/cards/02.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./src/img/cards/03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This card has even longer content than the first to show that
                                equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./src/img/cards/04.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in
                                to additional content. This card has even longer content than the first to show that
                                equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-->
        <div class="row justify-content-center" id="border-bottom">
            <div class="col-sm col-md-9">
                <div class="row mx-auto d-block">
                    <div class="card myfooter">
                        <div class="card-body myfooter py-1">
                            <div class="row myfooter">
                                <div class="col-sm col-md-4 offset-md-1 orange" id="brand">wok-1</div>
                                <div class="col-sm col-md-3 orange pt-2">Find us</div>
                                <div class="col-sm col-md-3 orange pt-2">Gallery</div>
                            </div>

                        </div>
                        <div class="row mx-1 content-justify-center myfooter">
                            <div class="col-sm col-md-4 orange">Buffet
                                <ul class="px-0" id="footer-li">
                                    <li>1 item</li>
                                    <li>2 item</li>
                                    <li>3 item</li>
                                </ul>
                            </div>
                            <div class="col-sm col-md-4 orange">take away
                                <ul class="px-0" id="footer-li">
                                    <li>1 item</li>
                                    <li>2 item</li>
                                    <li>3 item</li>
                                </ul>
                            </div>
                            <div class="col-sm col-md-4 orange">bar</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>