/* Body section */
body {
    background-color: #f7f7f7;
}

/* Header part*/

.landing_header {
    display: block;
    margin: auto;
    max-width: 1200px;
    height: 535px;
    background-image: url("../../r_src/header2_big.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.landing_header #header {
    text-align: center;
    color: #f7f7f7;
    background-color: rgba(0, 0, 0, .25);
}

.landing_header #header h2 {
    padding-top: 10rem;
    padding-bottom: 1rem;
}

.navigation {
    padding-top: 9.6rem;
    height: 50px;
}
.navigation > .nav {
    background-color: rgba(0, 0, 0, .6);
}
.nav-link {
    color: #546E7D;
}
.nav-link:hover {
    color: #f7f7f7;
    transition: color 1s;
}

/* Content part */
.container {
    max-width: 1200px;
}