@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

.lato {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: limegreen;
    text-shadow: 4px 2px 1px rgba(50,205,50,0.3);
}

.container  {
    margin-right: 0;
    margin-left: auto;
}

.display-4 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 5rem;
    font-weight: 500;
}

.bg {
    min-height: 100vh;
    background-color: black;
}

.list-group {
    background-color: inherit;
    color: inherit;
}

.list-group-item {
    color: inherit;
}